html {
    scroll-behavior: smooth;
}
body {
    height: auto;
    width: auto;
    background-image: url(../images/solid-body.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:  100% 100%;
    color: rgb(250, 248, 248);
}
a img {
    height: 400%;
    width: 40px;
    padding-bottom: 50px;

}
.topnav a:hover {
    border-bottom: 3px solid red;
    padding-left: 80px;
}

li {
    margin-right: 100px;
}
.nav2 li {
    margin-right: 60px;
}
[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide {
    display: block;
}

.home {
    background-image: url(../images/pizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 20%;

}


  
  